*{
	margin: 0px;
	padding: 0px;
}

body{
	font-size: 14px;
	line-height: 24px;
	font-family: 'Lato', sans-serif;

}

h1, h2, h3, h4, h5, h6{
	font-family: 'Titillium Web', sans-serif;
}

a, a:hover{
	text-decoration: none;
}

.container{
	width: 1140px;
	margin: 0px auto;
}

.row{
	width: 100%;
	float: left;
}

.col-lg-3{
	width: 25%;
	float: left;
}

.col-lg-4{
	width: 33.33%;
	float: left;
}

.col-lg-9{
	width: 75%;
	float: left;
}

.col-lg-12{
	width: 100%;
	float: left;
}

/************************ header section css start *******************************/

.header{
	width: 100%;
	float: left;
	background: #834E96;
	padding: 20px 0px;
}

.header .logo{
	float: left;
	margin: 0px 0px 0px 60px;
}

.header .logo img{
	width: 90px;
}

.header .menu{
	text-align: right;
	margin: 0px 50px 0px 0px;
}

.header .menu ul{
	display: block;
}

.header .menu ul li{
	text-decoration: none;
	display: inline-block;
	margin: 5px 0px 0px;
}

.header .menu ul li a{
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	margin: 0px 10px;
	padding: 5px 10px;
}

.header .menu ul li a:hover, .header .menu ul li a:focus{
	font-size: 16px;
	color: #fff;
	background: #603971;
}
/************************ header section css end *******************************/


/************************ banner section css start *******************************/

.banner{
	width: 100%;
	float: left;
	text-align: center;
	background: #834E96;
	padding: 90px 0px;
}

.banner h3{
	font-size: 38px;
	line-height: 48px;
	font-weight: 600;
	color: #fff;
}

.banner button{
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	background: #EB7652;
	text-transform: uppercase;
	margin-top: 40px;
	padding: 12px 45px;
	border: 1px solid #EB7652;
	border-radius: 3px;
	transition: 1s;
}

.banner button:hover{
	letter-spacing: 2px;
}
/************************ header section css end *******************************/

/************************ feature section css start *******************************/

.feature{
	width: 100%;
	float: left;
	background: #1CC1A3;
	margin: 0px auto;
	padding: 50px 0px;
}

.feature .box{
	width: 100%;
	text-align: center;
	margin: 50px 0px;
}

.feature .box h3{
	font-size: 38px;
	line-height: 48px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	margin: ;
}

.feature .box img{
	width: 80px;
	height: 4px;
}

.feature .box p{
	font-size: 16px;
	line-height: 26px;
	color: #fff;
	padding: 10px 0px 0px;
}

.feature .sohel{
	width: 90%;
	margin: 0px auto;
}

.feature .sohel .inner-box{
	width: 90%;
	float: left;
	text-align: center;
	padding: 30px 0px;
}

.feature .sohel .inner-box img{
	width: 95px;
	height: 80px;
}

.feature .sohel .inner-box h4{
	font-size: 28px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	margin: 50px 0px 10px;
}

.feature .sohel .inner-box p{
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: #fff;
	padding: 15px 0px 0px;
}
/************************ header section css end *******************************/

/************************ footer section css start *******************************/

.footer{
	width: 100%;
	float: left;
	text-align: center;
	background:  #834E96;
	padding: 13px 0px;
}

.footer p{
	font-size: 16px;
	color: #eee;
}

.footer span{
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}
/************************ header section css end *******************************/








